#root {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

select {
  padding: 10px;
  border-radius: 10px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
